<div>
  <form [formGroup]="form">
    <h2>Enter player X name</h2>
    <mat-form-field>
    <input type="text" matInput formControlName="nameX" maxlength="10">
      <mat-error *ngIf="form.get('nameX').hasError('required')">
        Name is required
      </mat-error>
    </mat-form-field>
    <h2>Enter player 0 name</h2>
    <mat-form-field>
    <input type="text" matInput formControlName="name0" maxlength="10">
      <mat-error *ngIf="form.get('name0').hasError('required')">
        Name is required
      </mat-error>
    </mat-form-field><br>
  <button [disabled]="form.invalid" mat-raised-button color="primary" (click)="closeDialog()">Confirm</button>
  </form>
</div>
